body {
	font-family: Verdana, Tahoma, Helvetica, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.body-container {
	margin: 0 auto 50px;
    padding: 0 15px;
    max-width: 1800px;
    min-height: 50vh;
}

a {
	text-decoration: none;
	color: unset;
}

.flex {
	display: flex;
	justify-content: space-between;
}

	/*/ Header /*/

.header .logo {
	margin-left: 60px;
	float: left;
}

.logo {
	width:200px;
}

.logo a {
	display:block;
	padding:10px 0;
}

.header-info {
	display: flex;
	justify-content: space-between;
	margin-right: 60px;
}

.header-info:after {
	content: '';
    position: absolute;
    bottom: -1px;
    left: calc((100vw - 100%)/-2);
    width: 100vw;
    height: 1px;
    background: #d9d9d9;
    z-index: 1;
}

.top-menu {
	display: inline-block;
}

.top-menu li {
	display: inline-block;
	list-style: none;
	padding: 10px 20px;
	font-size:16px;
}

.header-crumbs:before {
	content: '';
    position: absolute;
    left: calc((100vw - 100%)/-2);
    width: 100vw;
    height: 1px;
    background: #d9d9d9;
    z-index: 1;
}

.header-crumbs {
	display: flex;
	justify-content: space-between;
	margin:0 60px;
}


.contacts {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.search {
	float: right;
}

ul.left-menu {
	display: flex;
}

.breadcrumbs-menu {
	display: inline-block;
	padding: 0;
}

.breadcrumbs-menu li {
	display: inline-block;
	list-style: none;
	border: 1px solid darkgreen;
	padding: 10px 20px;
	border-radius: 20px;
}

.header-links {
	display: inline-block;
}

.header-links li {
	display: inline-block;
	list-style: none;
	padding: 10px 20px;
}

	/*/ Main Body /*/
	
.main-content {
	width: 1480px;
	margin: 0 auto;	
}	
	
.main-slide {
	background: #eaebee;
	height: 430px;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
}	

.main-slide-left {
	padding: 100px 60px;
}

.main-slide-right {
	
}

.main-slide-btn, .card-slide-btn, .main-promo-btn, .event-slide-btn, .double-promo-btn {
	padding: 20px 30px;
	border-color: #f65e64;
	border-radius: 30px;
	background: #f65e64;
	color: #fff;
	font-size: 20px;
	font-family: Monospace;
}

.main-promo-block {
	display: flex;
	justify-content: space-between;
}

.card-slide {
	display: flex;
	justify-content: space-between;
	width: 880px;
	height: 370px; 
	background: #f2f2f2;
	border-radius: 20px;
}

.card-slide-left {
    display: flex;
	justify-content: center;
    flex-flow: column;
	margin-left: 60px;
}

.card-slide-right {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.card-slide-offer {
	max-width: 200px;
}

.card-slide-offer-block {
	display: flex;
	justify-content: space-between;
}

.card-slide-image {
	max-width: 270px;
}

.card-slide-btn { 
	max-width: 250px;
	margin: 0 auto;
}


.main-promo {
	width: 90%;
	height: 370px;
	margin-left: 10%;
	background: #f2f2f2;
	border-radius: 20px;
	position: relative;
}

.main-promo-left {
    padding: 40px;
}

.main-promo-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-credit {
	width: 100%;
	background: #eaebee;
	padding-bottom: 20px;
}

.main-credit:before {
	content:'';
	position:absolute;
	width:100%;
	height:300px;
	background:#eaebee;
	left:0;
	z-index:-1;
}

.main-credit-title {
	padding: 50px;
}

.main-credit-block {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	margin: 20px;
}

.main-credit-left {
	margin-left: 60px;
}

.main-credit-right {
	background: #eaebee;
	margin-right: 60px;
	border-radius: 20px;
	padding: 10px 50px;
}

.event-slide {
	background: #f2f2f2;
	border-radius: 20px;
	padding: 20px 60px;
}

.main-news-row {
    display: flex;
    justify-content: space-between;
}

.main-news-item {
	width: 20%;
	margin-right: 5%;
}

.skb-online-block {
	margin: 150px 0 50px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #f2f2f2;
	height: 320px;
	position: relative;
}

.skb-online-left {
	display: flex;
	justify-content: center;
	margin-left: 150px;
	position: relative;
}

.skb-online-left img {
	position: absolute;
	bottom:0;
}

.skb-online-float-one, .skb-online-float-two {
	position: absolute;
	padding: 10px 20px;
	background: white;
	max-width: 200px;
	font-size: 12px;
	font-family: Monospace;	
    border-radius: 10px;
    box-shadow: 0 0 5px 0px grey;	
}

.skb-online-float-one {
	top: 50px;
	left: 30px;
}

.skb-online-float-two {
	bottom: 50px;
	right: 50px;
}

.double-promo {
	display: flex;
	justify-content: space-between;
}

.double-promo-block {
	width: 48%;
	height: 310px;
	position: relative;
	border-radius: 30px;
}

.double-promo-block:before {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
	border-radius: 30px;
    background: -webkit-gradient(linear, right top, left top, color-stop(13.8%, rgba(242, 242, 242, 0)), to(#f2f2f2));
    background: linear-gradient(270deg, rgba(242, 242, 242, 0) 13.8%, #f2f2f2 100%);	
}

.double-promo-info {
	padding: 20px;
	position: relative;
	z-index: 2;
}

.help-menu {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.help-menu li {
	display: inline-block;
	border:2px solid green;
	border-radius: 50px;
	padding: 5px 10px;
	margin-right: 10px;
	font-size: 14px;
	font-family: Monospace;
	color: green;
}

	/*/ Footer /*/
	
.footer {
	background: #f2f2f2;
}

.footer-top, .footer-bottom, .footer-banner {
	display: flex;
	justify-content: space-between;
}

.footer-top, .footer-bottom, .footer-logo, .footer-banner{
	width: 1480px;
	margin: 0 auto;
}	

.footer-top {
	padding: 20px 0;
}

.footer-top > div, .footer-bottom > div {
	width: 33%;
}

.footer-menu ul {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;	
	padding: 0;
	margin: 0;
}

.footer-menu li {
	list-style: none;
	font-size: 12px;
	line-height: 30px;
	font-family: Verdana;
}

.footer-link-block a {
	display: inline-block;
	padding: 5px 0;
}

.footer-bottom {
	border-top: 1px solid #ccc;
	padding:20px 0;
}

.footer-full-banner {
	background: pink;
	padding: 20px 0;
}

.footer-social ul {
	
}

.footer-social ul li, .footer-apps ul li {
	list-style: none;
	display: inline-block;
}