body {
	font-family: Verdana, Tahoma, Helvetica, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.body-container {
	margin: 0 auto 50px;
    padding: 0 15px;
    max-width: 1800px;
    min-height: 50vh;
}

a {
	text-decoration: none;
	color: unset;
}

a:hover {
	text-decoration: underline;
}

p {
	/*
	margin: 0;
	padding: 0;
	*/
}

.flex {
	display: flex;
	justify-content: space-between;
}

	/*/ Header /*/

.header .logo {
	margin-left: 60px;
	float: left;
}

.logo {
	width:200px;
}

.logo a {
	display:block;
	padding:10px 0;
}

.header-info {
	display: flex;
	justify-content: space-between;
	margin-right: 60px;
}

.header-info:after {
	/*content: '';*/
    position: absolute;
    bottom: -1px;
    left: calc((100vw - 100%)/-2);
    width: 100vw;
    height: 1px;
    background: #d9d9d9;
    z-index: 1;
}

.top-menu ul {
	display: inline-block;
	padding: 0;
	margin-left: 50px;
}

.top-menu ul li {
	display: inline-block;
	list-style: none;
	padding: 10px;
	font-size: 15px;
	position: relative;
}

.top-menu ul li ul {
	margin: 0;
	position: absolute;
	left: -9px;
	top: 51px;
	opacity: 0;
	transition: all .3s ease;
	background: white;
	border: 1px solid #d9d9d9;
	padding: 0 20px 10px;
	z-index: 2;
}

.top-menu ul li:hover ul {
	opacity: 1;
}

.top-menu ul li ul:hover {
	opacity: 1;
}

.top-menu ul li ul li {
	display: block;
	width: 300px;
	padding: 0;
	margin: 10px 0;
}

.top-menu ul li ul li a {
    font-size: 16px;
    font-family: monospace;
}

.header-info .phone {
	font-size: 12px;
}

.header-info .address {
	margin: 0 20px;
	font-size: 12px;
}

.header-crumbs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:0 60px;
}

.header-crumbs:before {
	content: '';
    position: absolute;
    left: calc((100vw - 100%)/-2);
    width: 100vw;
    height: 1px;
    background: #d9d9d9;
    z-index: 1;
	margin-top: -35px;
}

.contacts {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.search {
	float: right;
	display: none;
}

ul.left-menu {
	display: flex;
}

.bx-breadcrumb {
	margin: 0;
	display: flex;
}

.bx-breadcrumb .bx-breadcrumb-item {
    float: unset;
    margin-bottom: 0;
    white-space: unset;
    line-height: unset;
    margin-right: 0;
}

.bx-breadcrumb .bx-breadcrumb-item a {
    border-right: 1px solid #333;
    padding-right: 10px;
}

.breadcrumbs-menu {
	display: inline-block;
	padding: 0;
}

.breadcrumbs-menu li {
	display: inline-block;
	list-style: none;
	border: 1px solid darkgreen;
	padding: 10px 20px;
	border-radius: 20px;
}

.header-links {
	display: inline-block;
}

.header-links li {
	display: inline-block;
	list-style: none;
	padding: 10px 20px;
}


.header-online-bank {
	display: inline-block;
	border:2px solid #f65e64;
	border-radius: 50px;
	padding: 15px 20px;
	margin-right: 10px;
	font-size: 14px;
	font-family: Monospace;
	color: #f65e64;
	transition: all .3s ease;
}

.header-online-bank:hover {
	background: #f65e64;
	color: #fff;
}

.bx-breadcrumb i {
	opacity: 0;
}

	/*/ Main Body /*/
	
.main-content {
	max-width: 1480px;
	margin: 0 auto;	
}	
	
.main-content a {
	color: #038c73;
    border-bottom: 1px solid #038c73;
}	
	
.main-slide {
	background: #eaebee;
	height: 430px;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
}	

.main-slide-left {
	padding: 60px 120px;
}

.main-slide-title {
    font-size: 50px;	
	margin: 0;
}

.main-slide-text {
	font-size: 24px;
	max-width: 600px;
}

.main-slide-right img {
	height: 100%;
	width: auto;
}

.main-slide-btn, .credit-list-btn {
	padding: 20px 30px;
	border-color: #f65e64;
	border-radius: 30px;
	background: #f65e64;
	color: #fff;
	font-size: 18px;
	font-family: Monospace;
}

.main-promo-block {
	display: flex;
	justify-content: space-between;
}

.card-carousel {
	width: 880px;
}

.card-slide {
	display: flex;
	justify-content: space-between;
	width: 880px;
	height: 370px; 
	background: #f2f2f2;
	border-radius: 20px;
}

.card-slide-left {
    display: flex;
	justify-content: center;
    flex-flow: column;
	margin-left: 60px;
}

.card-slide-title {
	font-size: 36px;
	margin: 0;
}

.card-slide-text {
	font-size: 20px;
}

.card-slide-offer-1, .card-slide-offer-2 {
	font-size: 18px;
}

.card-slide-text-1, .card-slide-text-2 {
	font-size: 14px;
}

.card-slide-right {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.card-slide-offer {
	max-width: 200px;
}

.card-slide-offer-block {
	display: flex;
	justify-content: space-between;
}

.card-slide-image {
	max-width: 270px;
}

.event-slide-btn, .card-slide-btn, .main-promo-btn,  .double-promo-btn {
	padding: 15px 30px;
	border-color: #f65e64;
	border-radius: 30px;
	background: transparent;
	color: #222;
	font-size: 18px;
	font-family: Monospace;
	transition: all .3s ease;
}

.event-slide-btn:hover, .card-slide-btn:hover, .main-promo-btn:hover,  .double-promo-btn:hover {
	background: #f65e64;
}

.event-slide-btn:hover a, .card-slide-btn:hover a, .main-promo-btn:hover a,  .double-promo-btn:hover a {
	color: #fff;
	text-decoration: none;
}

.card-slide-btn {
	margin-top: 20px;
	max-width: 250px;
}

.main-promo {
	width: 90%;
	height: 370px;
	margin-left: 10%;
	background: #f2f2f2;
	border-radius: 20px;
	position: relative;
}

.main-promo-left {
    padding: 60px;
}

.main-promo-title {
	font-size: 38px;
	margin: 0;
}

.main-promo-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-promo-btn {
	margin-top: 60px;
}

.main-promo-btn a, .event-slide-btn a {
	color: #222;
	border-bottom: 0;
}

.main-credit {
	width: 100%;
	background: #eaebee;
	height: 670px;
}

.main-credit:before {
	content:'';
	position:absolute;
	width:100%;
	height:670px;
	background:#eaebee;
	left:0;
	z-index:-1;
}

.main-credit-title {
	padding: 50px;
	font-size: 36px;
}

.main-credit-block {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	margin: 20px;
}

.main-credit-left {
	margin-left: 60px;
}

.main-credit-right {
	background: #eaebee;
	margin-right: 60px;
	border-radius: 20px;
	padding: 10px 50px;
}

.event-slide {
	display: flex;
	justify-content: space-between;
	background: #f2f2f2;
	border-radius: 20px;
}

.event-slide-left {
	padding: 20px 120px;
}

.event-slide-title {
	font-size: 36px;
	margin: 0;
}

.event-slide-text {
	font-size: 18px;
	max-width: 600px;
}

.main-news-top, .main-news-row {
	display: flex;
	justify-content: space-between;
}

.main-news-all {
	font-size: 24px;
	font-family: Monospace;
}

.main-news-all a {
	color: #444;
	border-bottom: 0;
}

.main-news-item {
	width: 20%;
	margin-right: 5%;
}

.main-news h2 {
	font-size: 30px;
	margin: 0;
}

.main-news-date {
	
}

.main-news-title a {
	border-bottom: 0;
	color: #222;
	line-height: 24px;
}

.skb-online-block {
	margin: 150px 0 50px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #f2f2f2;
	height: 320px;
	position: relative;
	/*M*/
	overflow: hidden;
}

.skb-online-left {
	display: flex;
	justify-content: center;
	margin-left: 150px;
	position: relative;
}

.skb-online-left img {
	position: absolute;
	bottom:0;
}

.skb-online-right {
}

.skb-online-right h2 {
	font-size: 36px;
}

.skb-online-right ul {
	padding: 0 0 0 20px;
}

.skb-online-right ul li {
	list-style-type: none;
	margin: 20px 0;
}

.skb-online-right ul li:before {
    content: '';
    width: 0;
    height: 0;
    border: 3px solid #f65e64;
    border-radius: 3px;
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;	
}

.skb-online-stores {
	display: inline-block;
	padding: 20px;
}

.skb-online-stores img {
	padding: 0 20px;
}

.skb-online-float-one, .skb-online-float-two {
	position: absolute;
	padding: 10px 20px;
	background: white;
	max-width: 200px;
	font-size: 12px;
	font-family: Monospace;	
    border-radius: 10px;
    box-shadow: 0 0 5px 0px grey;	
}

.skb-online-float-one {
	top: 50px;
	left: 30px;
}

.skb-online-float-two {
	bottom: 50px;
	right: 50px;
}

.double-promo {
	display: flex;
	justify-content: space-between;
}

.double-promo-block {
	width: 48%;
	height: 310px;
	position: relative;
	border-radius: 30px;
}

.double-promo-block:before {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
	border-radius: 30px;
    background: -webkit-gradient(linear, right top, left top, color-stop(13.8%, rgba(242, 242, 242, 0)), to(#f2f2f2));
    background: linear-gradient(270deg, rgba(242, 242, 242, 0) 13.8%, #f2f2f2 100%);	
}

.double-promo-info {
	padding: 60px;
	position: relative;
	z-index: 2;
}

.double-promo-title {
	font-size: 30px;
	margin: 0;
}

.double-promo-text {
	font-size: 16px;
	max-width: 400px;
	letter-spacing: .03em;
}

.double-promo-btn a {
	color: #222;
	border-bottom: 0;
}

.help-menu {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.help-menu li {
	display: inline-block;
	border:2px solid #038c73;
	border-radius: 50px;
	padding: 15px 20px;
	margin-right: 10px;
	font-size: 14px;
	font-family: Monospace;
	color: #038c73;
	transition: all .3s ease;
}

.help-menu li:hover {
	background: #038c73;
	color: #fff;
}

.help-menu li a {
	color: unset;
	border-bottom: unset;
}

.help-menu li a:hover {
	text-decoration: none;
}

	/*/ Services /*/

.service-preview-block {
	background: #f9f9f9;
	display: flex;
	justify-content: space-between;
	position: relative;
	min-height: 430px;
}

.service-preview-block:before {
	position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    z-index: -1;
    content: '';
    border-radius: 30px;
    background: #f9f9f9;
}

.service-preview-left {
	padding: 50px;
}

.service-preview-left h1 {
    font-size: 50px;
}

.service-preview-left p {
	font-size: 19px;
	line-height: 28px;
    letter-spacing: -.05em;
}

.service-preview-right img {
	height: 100%;
	width: auto;
}

.service-advantage-block {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background: #fff;
	box-shadow: 0px 10px 30px rgba(204, 208, 214, 0.5) !important;
	margin: 10px;
	padding: 60px;
}

.service-advantage-title > h2 {
    font-size: 26px;
    width: 70%;
	margin: 50px 10px;
}

.service-advantage-block div {
    width: 20%;
    font-size: 16px;
    letter-spacing: -.05em;
}

.service-html-block {
	margin-bottom: 50px;
}

.service-html-block ul {

}

.service-html-block ul li {
	margin: 20px;
	font-size: 16px;
	line-height: 24px;
}

.service-docs-tab {
	margin-top: 30px;
	clear: both;
}

.service-phone-block {
	clear: both;
	padding:50px 0;
}

.service-phone-block a {
	color: #f65e64;
	border-bottom: 0;
}

.service-phone-block img {
	float: left;
	margin-right: 30px;
}

.phone-image {
	float:left;
	margin-right: 20px;
}

.service-help-menu {
	clear: both;
}

.paysystem-title {
	font-size: 34px;
}

.paysystem-block {
	
}

.paysystem-legend, .paysystem-item {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	margin: 30px 0;
	padding: 20px 40px;
	font-size: 16px;
}

.paysystem-legend {
	text-transform: uppercase;
	color: #888;
}

.paysystem-item {
	background: #fff;
	box-shadow: 0px 10px 30px rgba(204, 208, 214, 0.5) !important;
}

.paysystem-pic img {
	max-width: 160px;
}

	/*/ Credit  /*/

.credit-list-block {
	text-align: center;
}

.credit-list-item {
    display: inline-flex;
	justify-content: space-between;
	width: 48%;
    height: 370px;
    background: #f2f2f2;
    border-radius: 20px;
	margin:0 10px 50px;
}

.credit-list-item:first-child {
	width: 100%;
	height: 430px;
}

.credit-list-left {
    display: flex;
	justify-content: center;
    flex-flow: column;
	margin-left: 60px;
}

.credit-list-title {
	font-size: 26px;
	margin: 0;
}

.credit-list-title a {
	color: #222;
	border-bottom: 0;
}

.credit-list-offer {
	max-width: 200px;
	font-size: 18px;
	text-align: left;
}

.credit-list-offer-block {
	display: flex;
	justify-content: space-between;
}

.credit-list-right {
    display: flex;
    align-items: flex-end;
}

.credit-list-image {
	width: 100%;
	height: auto;
}

.credit-get {
	display: flex;
	justify-content: space-between;
}

.credit-get > div {
	width: 23%;
	margin: 1%;
	padding: 2%;
	height: 300px;
}

.credit-get-step {
	position: relative;
	background: #f2f2f2;
	border-radius: 20px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.credit-get-number {
	font-size: 28px;
	color: green;
	margin: 10px 0;
}

.credit-get-title {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}
	
.credit-get-text {
	font-size: 14px;
	color: gray;
	margin: 10px 0;
}

.credit-get-image {
	position: absolute;
	top: 0;
	right: 0;
}

	/*/ Footer /*/
	
.footer {
	background: #f2f2f2;
	padding: 0 30px;
}

.footer-top, .footer-bottom, .footer-banner {
	display: flex;
	justify-content: space-between;
}

.footer-top, .footer-bottom, .footer-logo, .footer-banner{
	max-width: 1480px;
	margin: 0 auto;
}	

.footer-top > div, .footer-bottom > div {
	width: 33%;
}

.footer-menu ul {
	display: grid;
	grid-template-columns:.8fr .8fr 1fr;	
	padding: 0;
	margin: 0;
}

.footer-menu li {
	list-style: none;
	font-size: 12px;
	line-height: 30px;
	font-family: Verdana;
}

.footer-menu-add {
	display: flex;
	justify-content: flex-start;
	margin: 30px 0;
}

.footer-menu-add a {
	margin-right:10px;
}

.footer-menu-safety {
	color: #f65e64;
}

.footer-menu-sitemap {
	color: gray;
}

.footer-contacts p {
	font-size: 14px;
	color: gray;
}


.footer-contacts .phone {
	margin: 10px 0;
}

.footer-contacts .phone a {
	font-size: 24px;
}

.footer-contact-link a {
	color: #038c73;
	text-decoration: underline;
}

.footer-contact-link a:hover {
	text-decoration: unset;
}

.footer-contact-image {
	margin: 20px 0;
}

.footer-link-block a {
	color: #038c73;
	display: inline-block;
	padding: 5px 0;
}

.footer-link-skb {
	color: #f65e64 !important;
	text-decoration: underline;
}

.footer-link-skb:hover {
	text-decoration: none;
}

.footer-bottom {
	border-top: 1px solid #ccc;
	padding:20px 0;
}

.footer-full-banner {
	background: linear-gradient(270deg, #6cc47b 0%, #038c73 100%);
	padding: 10px;
}

.copyright {
	font-size: 12px;
	color: #fff;
}

.footer-social ul {
	
}

.footer-social ul li {
	margin: 0 15px;
}

.footer-apps ul li {
	margin:0 5px;
}

.footer-social ul li, .footer-apps ul li {
	list-style: none;
	display: inline-block;
}

.footer-webmaster {
	display: flex;
	align-items: center;
	font-size: 14px;
	letter-spacing: .01em;
	color: #fff;
}

/*/ Laptop Styles /*/

@media (max-width:1440px) {

	/*/ Header /*/
	
	.header .logo {
		width: 150px;
		margin-left: 0;
		margin-top: 10px;
	}
	
	.header-crumbs {
		margin: 0 60px 0 0;
	}
	
	/*/ Main Page /*/
	
	.main-news {
		padding: 0 50px;
	}
	
	/*/ Services /*/
	
	.service-preview-block:before {
		display: none;
	}	
	
	.service-preview-block {
		border-radius: 20px;
	}
	
}

/*/ Mobile Styles /*/

@media (max-width:991px) {
	
	/*/ Header /*/
	
	.header {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		padding: 0 10px;
	}
	
	.header .logo {
		max-width: 130px;
		margin-left: 0;
	}
	
	.header-info {
		display: none;
	}
	
	.header-crumbs {
		margin: 0;
	}
	
	.header-crumbs:before {
		display: none;
	}
	
	.header-links {
		display: none;
	}
	
	/*/ Main Content /*/
	
	h1 {
		font-size: 22px;
		letter-spacing: .01em;
	}
	
	.main-content {
		width: 90%;
		padding: 0 5%;
	}
	
	.main-promo-section {
		display: none;
	}
	
	.body-container {
		padding: 0;
	}
	
	.card-carousel {
		width: 100%;
	}
	
	.card-slide {
		width: 100%;
	}
	
	/*/ Services /*/
	
	.service-preview-block:before {
		width: 100%;
	}
	
	.service-preview-left {
		z-index: 1;
	}
		
	.service-preview-left p {
		line-height: 20px;
	}
	
	.service-preview-right img {
		height: auto;
		width: 90%;
		margin-top: 50px;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 0;
	}
	
	.service-advantage-block {
		margin-top: 50px;
		flex-flow: column;
		background: #fff;
	}
	
	.service-advantage-block div {
		display: flex;
		margin: 10px 0;
	}
	
	.service-advantage-block div img {
		margin-right: 10px;
	}
	
	.service-html-block ul {
		padding: 0;
	}
	
	.service-html-block ul li {
		list-style-type: none;
		margin: 10px;
	}
	
	.service-html-block ul li:before {
		content: '';
		width: 0;
		height: 0;
		border: 3px solid #f65e64;
		border-radius: 3px;
		position: absolute;
		margin-left: -20px;
		margin-top: 5px;
	}

	/*/ Footer /*/
	
	.footer {
		padding: 0 10px;
	}

}